@font-face {
  font-family: "pixeboyregular";
  src: url("pixeboy-webfont.woff2") format("woff2"), url("pixeboy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  line-height: 1;
  border: none;
  outline: none;
  z-index: 182;
  font-family: "pixeboyregular";
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1458px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

canvas {
  display: block;
  width: 580px;
  height: 680px;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 678px;
  height: 778px;
  background: url(assets/hello.png);
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.header-main {
  height: 24px;
  width: 678px;
  position: absolute;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 68px;
  font-size: 20px;
  color: #ffffff;
}

.score-wrapper {
  display: flex;
}

.buttons {
  display: flex;
}

.buttons div {
  height: 24px;
  width: 24px;
  margin-left: 5px;
  background-color: black;
}

.score {
  margin-left: 8px;
}

.score-wrapper {
  margin-left: -36px;
}

.aside-left {
  position: relative;
  width: 300px;
  text-align: center;
  color: #ac6ab0;
  font-size: 20px;
  height: 760px;
  background: url(assets/score-container.png);
  align-items: center;
  display: flex;
}

.score-header {
  position: absolute;
  top: 6px;
  padding-left: 32px;
  color: #ffffff;
}

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  color: #ac6ab0;
}

.table-header {
  font-weight: bold;
  margin-bottom: 12px;
}

.score-body,
.table-header {
  display: flex;
  justify-content: space-between;
}

.score-info,
#score-info {
  width: 40px;
  text-align: left;
}

.hit-score,
#hit-score {
  width: 120px;
  text-align: left;
}

.combo-score,
#combo-score {
  width: 80px;
  text-align: left;
}

.score-body div {
  margin-bottom: 8px;
}

.aside-right {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.life {
  width: 6px;
  height: 12px;
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #ac6ab0;
}

#lifeContainer {
  width: 100%;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.blue {
}
.green {
}
.yellow {
}
.orange {
}
.red {
}
.gray {
  background-color: #cca1cf;
}

.audio-player {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 35px;
  padding-bottom: 17px;
  color: #ffffff;
  background: url(assets/back-player.png);
  height: 470px;
}

.audio-header {
  display: flex;
  justify-content: space-between;
  font-size: 48px;
  align-items: center;
}

.equalizer-wrapper {
  height: 42px;
  width: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #ac6ab0;
  border-radius: 8px;
}

.equalizer {
  justify-content: space-between;
  align-items: flex-end;
  height: 32px;
  width: 80px;

  display: none;
}

.audio-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;
}

.audio-buttons {
  display: flex;
  justify-content: space-between;
}

.audio-buttons i {
  background-color: #d59fd8;
  color: #ac6ab0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-right: 4px;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 8px;
}

.bar {
  width: 10px;
  background: url(assets/bar-back.png);
  border-radius: 0px 0px 0px 0px;
  height: 100%;
  animation: equalize 0.5s infinite alternate;
}

.bar:nth-child(2) {
  animation-delay: 0.1s;
}

.bar:nth-child(3) {
  animation-delay: 0.2s;
}

.bar:nth-child(4) {
  animation-delay: 0.3s;
}

.bar:nth-child(5) {
  animation-delay: 0.1s;
}

@keyframes equalize {
  from {
    height: 30%;
  }
  to {
    height: 100%;
  }
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume i {
  margin-right: 8px;
  color: #ac6ab0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 140px;
  background-color: #d59fd8;
  border-radius: 0px;
  height: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 12px;
  margin-top: 4px;
  background-color: #674269;
  cursor: pointer;
  border-radius: 18px;
  transition: 0.15s ease;
  cursor: grab;
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.playlist {
  background-color: #d59fd8;
  padding: 12px;
  border-radius: 12px;
}

.liste-des-chansons {
  height: 160px;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.liste-des-chansons::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.liste-des-chansons::-webkit-scrollbar-track {
  background-color: #674269;
}

.liste-des-chansons::-webkit-scrollbar-thumb {
  background-color: #f0c2f3;
}

.liste-des-chansons::-webkit-scrollbar-thumb:hover {
  background-color: #f0c2f3;
}

.liste-des-chansons div {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 310px;
  height: 22px;
  cursor: default;
}

.liste-des-chansons div:hover {
  background-color: #ac6ab0;
}

.liste-des-chansons div span {
  padding-left: 4px;
  padding-right: 4px;
}

/* .name-song {
  width: 336px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
} */

.name-song {
  width: 296px;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #ac6ab0;
  margin-top: 8px;
}

.name-song-inner {
  white-space: nowrap;
  position: relative;
  padding-left: 100%;
}

.name-song-inner::after {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  animation: scroll-left-right 20s linear infinite;
}

@keyframes scroll-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spotify a {
  color: #ac6ab0;
  font-size: 24px;
  margin-top: 4px;
}

.spotify span {
  font-size: 14px;
}

.barre-wrapper {
  margin-top: 12px;
  background-color: #ac6ab0;
  border-radius: 8px;
}
.barre-progression {
  height: 4px;
  background-color: #f0c2f3;
  border-radius: 8px;
}

.wrapper-audio {
  background-color: rgb(240, 194, 243, 0.6);
  padding: 20px;
  border-radius: 20px;
  background-color: #d59fd8;
  margin-top: 14px;
}
